<p style="color: green"><%= notice %></p>

<div class="col-md-6">
  <div class="h-100 p-5 bg-light border rounded-3">
    <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
    <p>Email: <%= @contact.email %></p>
    <p>Telephone: <%= @contact.telephone %></p>
    <br/>
    <%= link_to "Edit", edit_contact_path(@contact), class:"btn btn-outline-secondary" %> | <%= link_to "Back to contacts", contacts_path, class:"btn btn-outline-secondary" %>
  </div>
</div>